// Colors
$colorTextPrimary: #212121;
$colorTextSecondary: #757575;
$colorTextTertiary: #fff;
$colorTextActive: #2196f3;
$backgroundColor: #f5f4fa;
$iconsColor: #AFB1B8;
// Fonts
$textFontPrimary: "Roboto", sans-serif;
$textFontSecondary: "Raleway", sans-serif;
