// Colors
$colorTextPrimary: #212121;
$colorTextSecondary: #757575;
$colorTextTertiary: #fff;
$colorTextActive: #2196f3;
$backgroundColorPrimary: #2f303a;
$backgroundColor: #f5f4fa;
$iconsColor: #afb1b8;
$backdrop: #0000003e;
$borders: #ECECEC;
// Fonts
$textFontPrimary: "Roboto", sans-serif;
$textFontSecondary: "Raleway", sans-serif;
