.nav__btn {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

@media (max-width: 767px) {
  .btn-menu {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: transparent;
  }

  .btn-menu__icon,
  .btn-menu__icon::before,
  .btn-menu__icon::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #333;
    transition: transform 0.3s ease-in 0.3s;
    transition: top 0.1s ease-in;
    z-index: 1000;
  }

  .btn-menu__icon {
    top: calc(50% - 1px);
  }

  .btn-menu__icon::after {
    top: 8px;
  }

  .btn-menu__icon::before {
    top: -8px;
  }
  .nav__list {
    display: none;
  }

  .menu-open .btn-menu__icon::before,
  .menu-open .btn-menu__icon::after {
    top: 0;
  }

  .menu-open .btn-menu__icon {
    transform: rotate(-45deg);
  }

  .menu-open .btn-menu__icon::after {
    transform: rotate(90deg);
  }

  .nav__list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    padding: 40px 48px;

    background-color: $colorTextTertiary;
    flex-direction: column;
    row-gap: 10px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    justify-content: space-between;
    z-index: 999;
  }

  .menu-open .nav__list {
    transform: translateX(0);
  }

  .socialmedia-menu {
    opacity: 0;
  }

  .menu-open .socialmedia-menu {
    opacity: 1;
  }

  .nav__link {
    @include text($colorTextPrimary, 40px, 500x);
  }
}

.socialmedia-menu {
  display: none;
  gap: 10px;
}

.menu__link {
  @include text($colorTextActive, 18px, 500);
}

.socialmedia__item {
  padding-right: 10px;
  border-right: 1px solid $colorTextSecondary;
}

.socialmedia__item:nth-child(4) {
  border: none;
}

.links {
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.nav__link--opened {
    color: $colorTextActive;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media (max-width: 480px) {
  .nav__link {
    @include text($colorTextPrimary, 28px, 500x);
  }

  .menu__link {
    @include text($colorTextActive, 12px, 500);
  }
}

@media (max-width: 768px) {
  .contacts__item::before {
    display: none;
  }

  .header__nav-list {
    padding-top: 100px;
  }

  .socialmedia-menu {
    display: flex;
  }

  .nav__list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 65px;
  }
  .nav__link--active {
    color: $colorTextActive;
  }
}

@media (min-width: 769px) {
  .links {
    flex-direction: row;
    align-items: center;
  }
  .contacts {
    gap: 10px;
  }

  .header__nav {
    width: 100%;
  }

  .header {
    display: flex;
    gap: 10%;
  }

  .header__nav-list {
    justify-content: space-between;
  }
}
