.advantages {
  padding: 60px 15px 0px 15px;

  &__title {
    display: none;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.advantage {
  @extend %flexibility;
  flex-direction: column;

  &__svg {
    width: 70px;
    height: 70px;
    &:hover {
      fill: $colorTextActive;
      @include animation(fill);
    }
  }

  &__title {
    @include text($colorTextPrimary, 14px, 700);
    margin-bottom: 10px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__text {
    @include text($colorTextSecondary, 14px, 400);
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

.icon__wrapper {
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
  padding: 25px 0px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .advantages__list {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .advantage {
    flex-basis: calc((100% - 30px) / 2);
    &__title {
      text-align: left;
    }
  }

  .advantage:nth-child(3) {
    position: relative;
    top: -10px;
  }
}

@media (min-width: 1600px) {
  .advantages {
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
    padding-top: 94px;
  }

  .advantage {
    flex-basis: calc((100% - 90px) / 4);
    &__text {
      text-align: left;
    }
  }
}
