.clients {
  &__title {
    @include text($colorTextPrimary, 28px, 700);
    text-align: center;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-bottom: 30px;
  }
  &__img {
    width: 100%;
  
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__container {
    padding: 60px 15px;

  }
}

.client {
  flex-basis: calc((100% - 30px) / 2);
  &__container {
    border: 1px solid $colorTextSecondary;
    border-radius: 4px;
    min-height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      border-color: $colorTextActive;
    }
  }
  &:hover {
    fill: $colorTextActive;
  }

  &__svg {
    fill: $colorTextSecondary;
    @include animation(border-color);
    @include animation(fill);
    width: 100%;
  }
}

.client__container:hover .client__svg {
  fill: $colorTextActive;
}

.main__clients {
  margin-bottom: 60px;
}


@media (min-width: 768px) {
  .client {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media (min-width: 1600px) {
  .clients {
    width: 1170px;
    margin: 0 auto;
    padding-top: 95px;
    &__title {
      @include text($colorTextPrimary, 36px, 700);
      margin-bottom: 50px;
      letter-spacing: 1.08px;
    }
  }
  .client {
    flex-basis: calc((100% - 150px) / 6);
  }
}
