.our-team__container {
  padding: 60px 15px;
  background-color: $backgroundColor;
}

.our-team {
  margin-top: 60px;
  &__title {
    @include text($colorTextPrimary, 28px, 700);
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.worker {
  border-radius: 0px 0px 4px 4px;
  background-color: $colorTextTertiary;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 36px;

  &__photo {
    margin-bottom: 30px;
  }

  &__title {
    @include text($colorTextPrimary, 16px, 500);
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
  }

  &__job {
    @include text($colorTextSecondary, 16px, 400);
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
  }

  &__links {
    @extend %flexibility;
    gap: 10px;
  }

  &__link {
    padding: 12px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    &:hover {
      background-color: $colorTextActive;
      @include animation(background-color);
    }
  }
}

@media (min-width: 768px) {
  .our-team__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .worker {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1600px) {
  .our-team__list {
    max-width: 1170px;
    margin: 0 auto;
  }

  .our-team {
    margin-top: 95px;
    &__title {
      @include text($colorTextPrimary, 36px, 700);
      margin-bottom: 50px;
      letter-spacing: 1.08px;
    }
  }

  .worker {
    flex-basis: calc((100% - 90px) / 4);
  }
}
