.clients {
  padding: 60px 15px;
  &__title {
    @include text($colorTextPrimary, 28px, 700);
    text-align: center;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-bottom: 30px;
  }
  &__img {
    width: 210px;
    height: 92px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
