body {
  color: $colorTextPrimary;
  font-family: $textFontPrimary;
  font-size: 14px;
  font-weight: 400;
}

.container {
  min-width: 480px;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
}

.btn {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
