body {
  color: $colorTextPrimary;
  font-family: $textFontPrimary;
  font-size: 14px;
  font-weight: 400;
  overflow: scroll;
}

.container {
  min-width: 320px;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
}

.btn {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.logo {
  @include text($colorTextActive, 24px, 700);
  font-family: Raleway;
  letter-spacing: 0.72px;
}

.socialmedia__icon {
  width: 20px;
  height: 20px;
  fill: $colorTextSecondary;
  @include animation(fill);
  &:hover {
    fill: $colorTextTertiary;
  }
}

.hidden {
  display: none;
}
